{% extends 'app1/base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<form action="{% url 'filter' %}" method="get">
    <div>
        \
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <h3 class="sear-head editContent">Кому?</h3>
                        <ul class="w3layouts-box-list">
                            {% for x in gifts %}
                            <li class="editContent">
                                <input type="checkbox" class="checked" name="whom" value="{{ x.id }}">
                                <span class="span editContent">{{ x.whom }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col">
                        <h3 class="sear-head editContent">Возраст(того кому дарите)?</h3>
                        <ul class="w3layouts-box-list">
                            {% for x in gifts %}
                            <li class="editContent">
                                <input type="checkbox" class="checked" name="age" value="{{ x.id }}">
                                <span class="span editContent">{{ x.age }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col">
                        <h3 class="sear-head editContent">Какой повод?</h3>
                        <ul class="w3layouts-box-list">
                            {% for x in gifts %}
                            <li class="editContent">
                                <input type="checkbox" class="checked" name="reason" value="{{ x.id }}">
                                <span class="span editContent">{{ x.reason }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button type="submit">Найти</button>
                </div>
            </div>
        </div>
    </div>

</form>
<div>
    <div class="container mb-5">
        <div class="row">
            {% for b in gifts %}
            <div class="col-md-4">
                <div class="card shadow-sm" style="height=10%">
                    <img src="{{ b.task.url }}" width="100%"/>
                    <div class="card-body">
                        <a class="card-text" href="{{ b.uurl }}">{{ b.title }}</a>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
