{% extends 'app1/base.html' %}

{% block title %}
Главная
{% endblock %}
{% block content %}
<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Мир подарков</h1>
            <p class="text-center">Добро пожаловать на сайт "Мир подарков", здесь вы можете найти подарок своему
                учителю, родителям, другу, подруге. Основываясь на выбранных вами фильтров характеризующие повод, человека которому вы
                хотите сделать приятно наши алгоритмы подберут вам подарок.</p>
        </div>
    </div>
</div>
{% endblock %}

